<br><br>

<div class="container">
  <h2 class="centra">Are you ready for LISTÍN!!! ?</h2><br>

  <!-- Carrousel -->
  <div class="row">
  	<div class="col-lg-6">
 
			<section id="myCarousel" class="carousel slide indicators-wrap" data-ride="carousel">
		      <ol class="carousel-indicators">
		        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		        <li data-target="#myCarousel" data-slide-to="1"></li>
		        <li data-target="#myCarousel" data-slide-to="2"></li>
		      </ol>

		      <div class="carousel-inner">
		        <div class="active item">
		          <img src="/assets/phoneWhite1.jpg" class="adaptar" >
		        </div>
		        <div class="item">
		          <img src="/assets/phoneWhite2.jpg" class="adaptar" > 
		        </div>
		        <div class="item">
		          <img src="/assets/phoneWhite3.jpg" class="adaptar" >
		        </div>
		      </div>
		     
		      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
		      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>      
			</section>
		</div>
		<div class="col-lg-6">Esta web es un pequeño ejemplo muy simple de un listín telefónico realizado con el framework de programación 'Ruby on Rails'. Es un pequeño ejercicio en el que puedes ver ejemplos de como funciona y quizá te pueda ayudar en algunos aspectos si empiezas con RoR. Para darle forma rápidamente he implementado a Bootstrap, gran framework para la parte de front. Aunque en mi github (https://github.com/jamarin6) hay dos versiones de este 'listinTelefonicoRails', en ésta página se ve la versión más simple (que es la mas usable también), en la que te registras como 'user' (usuario) y puedes almacenar 'contacts' (contactos). El login se realiza mediante la gema de rails 'devise', la cual tiene seguridad profesional, utilizándose en multitud de webs importantes, ésta gema tiene grandes opciones de configuración. Tenemos también una función de paginación con la utilización de la gema 'kaminari' en la que ponemos 3 registros por página para ver rápido su funcionalidad. Para el despliegue se utilizó 'Heroku' debido a su simplicidad de despliegue... y que en principio es gratuito ;) 
		De ésta manera puedes también almacenar si quieres tus contactos por si quieres tenerlos a salvo fuera de tu dispositivo móvil.
		</div>
  </div>

	<!-- 
La otra versión () es menos usable pero más avanzada técnicamente y sirve también de gran ejemplo para los novatos de rails, puedes ver el código aquí (), y puedes (sin login) crear 'users' que tengan a su vez 'contacts', sólo hay un 'superUser' que es el primero de todos y no tiene 'padre', a partir de ese 'superUser' puedes crear 'users hijos' que a su vez pueden tener otros 'user hijos' de los que ellos serán 'padres'. No se puede borrar un 'user' con 'hijos', y si se borra un 'user' que sea posible borrar también lo harán sus contactos de la base de datos (si existen).


	si ya hay usuario registrado le muestro la opción de ir a sus contactos mediante un botón -->
	<% if current_user %>
		<div class="row">
			<div class="col-lg-12">
				<br><%= link_to " my contacts", user_contacts_path(current_user), method: :get, :class => 'btn btn-primary btn-lg btn-block fa fa-users fa-2x' %>	
			</div>
		</div>
	<% else %>  <!--de lo contrario le doy la opción de registrarse con un botón signUp -->
    <div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<br><%= link_to " SingIn", new_user_session_path, method: :get, :class => 'btn btn-primary btn-lg btn-block fa fa-users fa-2x' %>	
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<br><%= link_to " SingUp", new_user_registration_path, method: :get, :class => 'btn btn-success btn-lg btn-block fa fa-users fa-2x' %>	
			</div>
		</div>		
	<% end %><br>
</div>